/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.header {
  display: grid;
  height: 100vh;
  min-height: 668px;
  grid-template-rows: 1fr max-content 1fr;
  padding: var(--small-padding);
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  bottom: var(--small-padding);
  left: var(--small-padding);
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  top: var(--small-padding);
  right: var(--small-padding);
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.rec {
  display: var(--rec_display);
  position: absolute;
  top: var(--small-padding);
  right: calc(var(--small-padding) + 9px);
  color: var(--text-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}
.rec::before {
  content: "rec";
  margin-right: 10px;
}

.list-paddings:not(:last-child) {
  margin-bottom: 20px;
}

.rec::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--text-color);
  box-shadow: 0 0 4px 2px var(--text-color);
  display: inline-block;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0px 13px;
  min-height: 26px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--text-color);
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 10px;
  color: var(--text-color);
  text-align: center;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--text-color);
}

.header__title {
  align-self: center;
  justify-self: center;
}

.main-font {
  font-size: var(--main-font-size);
  color: var(--logo-color);
  text-shadow: 4px 4px 0px var(--logo-shadow-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

.link {
  text-shadow: 2px 2px 0px var(--accent-backgroung-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: none;
  border: 1px solid currentColor;
}

.header__paragraph {
  align-self: center;
  justify-self: center;
  color: var(--accent-text-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.content {
  padding: 0px var(--small-padding);
}

.title-decor {
  background: var(--accent-backgroung-color);
}

.font-typical {
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.main__section-titel {
  color: var(--text-color);
  margin-bottom: var(--medium-padding);
}

.main__list-titel {
  color: var(--accent-text-color);
}

.main__sub-list-titel {
  color: var(--accent-text-color);
  margin-top: var(--medium-padding);
  font-weight: 400;
}

.main__paragraph {
  color: var(--list-text-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-top: var(--small-padding);
}

.main__gallery {
  display: grid;
  gap: var(--small-padding);
  margin-top: var(--small-padding);
}

.main__gallery-picture {
  object-position: center;
  object-fit: cover;
  width: 100%;
}

.footer {
  height: 100vh;
  min-height: 668px;
  padding: var(--small-padding);
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
}

.main__section-why,
.footer {
  margin-top: calc(var(--large-padding) - var(--small-padding));
}

.main__section-what,
.main__section-how,
.main__section-pictures {
  margin-top: var(--large-padding);
}
/*===================================768px <= width==========================================*/
@media (768px <= width) {
  :root {
    --large-padding: 80px; /*большой отступ*/
    --main-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header,
  .footer {
    padding: var(--medium-padding);
  }
  .rec {
    top: var(--medium-padding);
    right: calc(var(--medium-padding) + 9px);
  }
  .decorated-zone::before {
    bottom: var(--medium-padding);
    left: var(--medium-padding);
  }

  .decorated-zone::after {
    top: var(--medium-padding);
    right: var(--medium-padding);
  }

  .content {
    padding: 0px var(--medium-padding);
  }

  .header__title {
    justify-self: start;
    margin-left: calc((-1) * var(--medium-padding));
  }

  .header__paragraph {
    justify-self: end;
    max-width: 50%;
  }

  .main__section-why,
  .main__section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--medium-padding);
  }

  .main__section-why,
  .main__section-how {
    grid-template-areas:
      "main__section-titel lists"
      "main__section-titel lists"
  }  

  .main__section-what .main__section-titel {
    width: calc((100% / 3) - var(--medium-padding));
  }

  .main__section-why,
  .footer {
    margin-top: calc(var(--large-padding) - var(--medium-padding));
  }

  .main__gallery {
    display: grid;
    margin-top: var(--medium-padding);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: var(--medium-padding);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
  .main__gallery-sunset {
    grid-area: sunset;
  }
  .main__gallery-ice-cream {
    grid-area: ice-cream;
    height: 100%;
  }
  .main__gallery-tape {
    grid-area: tape;
    height: 100%;
  }
  .main__gallery-books {
    grid-area: books;
  }
  .main__gallery-street {
    grid-area: street;
  }
}
/*===================================1024px <= width==========================================*/
@media (1024px <= width) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }
  .header__theme-menu-list {
    grid-template-columns: repeat(3, max-content);
  }
  .main__section-what__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--medium-padding);
  }
  .main__section-what .list-paddings:not(:last-child) {
    margin-bottom: 0px;
  }
}
